{% extends "base.html" %}

{% load static %}

{% block title %}
   About Us
{% endblock title %}

{% block header %}
   <h1>About Us</h1>
{% endblock header %}

{% block defaultContent %}
   <div class="row">
      <div class="col-12 d-flex justify-content-center">
         <p class="lead text-center">
            We are a group of students looking to create the leading Book Exchange System.
         </p>
      </div>
   </div>

   <div class="row">
      <div class="col-12 pt-4">
         <h2 class="text-center mb-4">Meet the Team</h2>
      </div>
   </div>

   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Vincent R</h4>
               <p class="card-text">
                  Vincent is a passionate programmer who played a key role in developing the About Us, Search, and Ratings features. With his attention to detail, he ensures a seamless user experience.
               </p>
            </div>
         </div>
      </div>
   </div>

   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Jose Z</h4>
               <p class="card-text">
                  Jose implemented the favorites feature and combined branches into the website you see now. His artistic flair adds a unique touch to the project, making it visually appealing.
               </p>
            </div>
         </div>
      </div>
   </div>



   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Levy R</h4>
               <p class="card-text">
                  Levy R, our adept developer, skillfully implemented the shopping cart feature in our Book Exchange System. His technical proficiency and innovative approach ensure a seamless and efficient user experience, allowing users to effortlessly manage and track their selected books for purchase.
               </p>
            </div>
         </div>
      </div>
   </div>

   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Alvaro G</h4>
               <p class="card-text">
                  Alvaro G, our creative mind, innovatively designed and implemented a comments section for each book in our Book Exchange System. His thoughtful approach enhances user engagement, providing a platform for meaningful interactions and discussions among book enthusiasts.
               </p>
            </div>
         </div>
      </div>
   </div>

   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Andres D</h4>
               <p class="card-text">
                  Andres D, our thorough contributor, played a crucial role by meticulously crafting and organizing comprehensive documentation for our Book Exchange System. His dedication to detail and clarity ensures that users and developers alike can navigate and understand the platform seamlessly.
               </p>
            </div>
         </div>
      </div>
   </div>

   <div class="row mb-4">
      <div class="col-md-6 mx-auto">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center">Hober G</h4>
               <p class="card-text">
                  Hober G, our technical wizard, implemented the feedback system in our Book Exchange System, creating a seamless feedback form using Google's SMTP server. His expertise ensured secure and efficient transmission of user feedback straight to the developers.
               </p>
            </div>
         </div>
      </div>
   </div>

{% endblock defaultContent %}