{% extends "base.html" %}

{% load static %}
{% load ratings %}
{% load bootstrap_icons %}

{% block title %}
   Favorites
{% endblock title %}

{% block header %}

<h1 align="center">Favorites</h1>

{% endblock header %}

{% block content %}

{% for book in books %}

{% if book.is_favorite %}
<div class="card mx-2" style="width: 18rem;">
    <img src="{% static book.pic_path %}" class="card-img-top" alt="...">
    <div class="card-body">
        <a class="card-title" href="{% url 'book_detail' book.id %}">
            <h5>{{ book.name }}</h5>
        </a>

        <p class="card-text">{{ book.price }}</p>
        {% ratings book %}

        <td align="center">
             <a href="{% url 'addtocart' book_id=book.id %}"><img src="{% static 'shoppingCartEmpty.png' %}" height="60" width="60" alt="Shopping Cart" /></a>
         </td>
    </div>
</div>
{% endif %}

{% endfor %}

{% endblock content %}