{% extends "base.html" %}

{%load ratings %}
{% load static %}

{% block title %}
   Search Results
{% endblock title %}

{% block header %}

<h1 align="center">Search Books</h1>

{% endblock header %}

{% block content %}

{% for book in books %}

<div class="card mx-2" style="width: 18rem;">
    <img src="{% static book.pic_path %}" class="card-img-top" alt="...">
    <div class="card-body">
        <a class="card-title" href="{% url 'book_detail' book.id %}">
            <h5>{{ book.name }}</h5>
        </a>

        <p class="card-text">{{ book.price }}</p>
        {% ratings book %}

        {% if request.user.is_authenticated %}
        <form action="{% url 'favorite_book' book.id %}" method="post">
            {% csrf_token %}

            {% if book.is_favorite %}
            <button style="font-size: 24px; color: gray; border: none; background: none; cursor: pointer;"
                    type="submit" class="btn btn-primary">★
                <a style="font-size: 18px;">Unfavorite</a>
            </button>
            {% else %}
            <button style="font-size: 24px; color: gold; border: none; background: none; cursor: pointer;"
                    type="submit" class="btn btn-primary">★
                <a style="font-size: 18px;">Favorite</a>
            </button>
            {% endif %}
        </form>

        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock content %}